* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;
}

/* MACROSTRUTTURA */
.total_container {
  position: relative;

  width: 100%;
  min-width: 270px;
  height: 100vh;
  min-height: 320px;

   background-image: linear-gradient(to top, #121212, #121212, #121212, #121212, #121212, #161616, #191919, #1d1d1d, #262626, #2e2e2e, #383838, #414141);
}

.container {
  position: relative;
}

#main_nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 80px;
  z-index: 950;

  width: 225px;
  height: calc(100% - 80px);

  background-color: black;
}

#nav_xs {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 80px;
  z-index: 950;

  width: 50px;
  height: calc(100% - 80px);

  background-color: black;

  display: none;
}

#top_bar {
  position: absolute;
  top: 0;
  left: 225px;
  right: 0;
  z-index: 900;

  width: calc(100% - 225px);
  height: 80px;

   background-color: #232427;
}

#player_bar {
  position: absolute;
  bottom: 0;
  z-index: 999;

  width: 100%;
  height: 80px;

  background-color: #181818;
  border-top: solid 1px #282828;
}

main {
  position: absolute;
  top: 80px;
  left: 225px;
  right: 0;
  bottom: 80px;

  overflow: auto;
}

/* RICORRENTI */
.flex {
  display: flex;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

/* testi */
h2 {
  color: white;
}

h3 {
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  color: white;
}

h4 {
  font-size: 11px;
  font-weight: bold;
  line-height: 15px;
  color: white;
}

p,
span,
a {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: white;
  opacity: 0.6;
}

.text_left {
  text-align: left;
}

.text_center {
  text-align: center;
}

/* elementi specifici */
a {
  text-decoration: none;
  transition: 0.4s;
}

a:hover {
  opacity: 1;
}

.inline li {
  display: inline-flex;
}

ul li {
  list-style-type: none;
  text-transform: capitalize;
}

/* MAIN_NAV */
#main_nav .container {
  flex-direction: column;
  height: 100%;
}

#main_nav .menu {
  flex-direction: column;
  /* overflow: auto; */
  height: 100%;
  flex-grow: 1;
  overflow: hidden;
}

/* logo */
#main_nav .logo img {
  width: 80%;
  padding: 20px;
}

/* menu_up */
.menu_up {
  flex-grow: 1;
}

/* main menu */
.main_menu img {
  width: 25px;
  margin-right: 10px;
}

.main_menu li {
  padding-left: 17px;
  border-left: solid 3px;
}

.main_menu li:first-of-type {
  border-left: solid 3px #1ED760;
}

.main_menu li a {
  line-height: 35px;
  vertical-align: middle;
}

.main_menu li:first-of-type a {
  opacity: 1;
}

.main_menu li:active {
  border-left: solid 3px #1ED760;
  border-radius: 1px;
}

/* playlist_menu */
.playlist_menu {
  flex-direction: column;
  height: calc(100% - 90px);
  padding: 20px;
}

.playlist_menu h3,
.crea {
  margin-bottom: 10px;
}

.crea > *,
.playlist_menu li {
  line-height: 30px;
}

.crea span {
  opacity: 1;
}

.playlist_menu span:first-of-type {
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 25px;
  color: black;
  background-color: white;
  margin-right: 10px;
}

.playlist_menu ul {
  flex-grow: 1;
  height: 20px;
  overflow: auto;
}

/* menu_down */
.menu_down {
  padding: 5px 20px 10px 20px;
}

.menu_down .install img {
  height: 15px;
  margin-right: 10px;
}
 .linea {
   width: 100%;
   height: 2px;
   background-color: white;
   opacity: 0.6;
   margin: 10px 0;
 }

 .account span {
   width: 25px;
   height: 25px;
   overflow: hidden;
   color: white;
   opacity: 1;
   background-color: grey;
   margin-right: 10px;
   border-radius: 50%;
 }

/* NAV_XS */
#nav_xs {
   flex-direction: column;
   justify-content: space-between;
   align-items: center;

   padding-top: 20px;
   padding-bottom: 20px;

   display: none;
}

#nav_xs a {
  opacity: 1;
}

.menu_icons_xs {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}

img#logo_small {
  width: 35px;
  margin-bottom: 10px;
}

.menu_icons_xs img {
  width: 25px;
}

.account_icon_xs {
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

.account_icon_xs .install img {
  width: 20px;
}

.account_xs {
  width: 25px;
  height: 25px;
  color: white;
  background-color: grey;
  border-radius: 50%;
  overflow: hidden;
}

/* TOP_BAR */
#top_bar {
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

#top_bar a,
#top_bar span {
  opacity: 1;
}

.button {
  flex-grow: 1;
  text-transform: uppercase;
  padding: 10px 30px;
  border: solid 1px white;
  border-radius: 19px;

  transition: all 1s;
}

.button:hover {
  transform: scale(1.1);
}

/* MAIN */
main {
  padding: 20px 5px;
}

main h2 {
  margin-top: 20px;
}
/* SECTION GENRE_NAV */
.genre_list {
  width: 90%;
  margin: auto;
}

#genre_nav ul {
  justify-content: center;
}

.genre_list li {
  text-transform: uppercase;
  margin-right: 20px;
  margin-bottom: 30px;
}

.genre_list li:last-child {
  margin-right: 0;
}

.genre_list h3 {
  font-weight: 500;
  border-bottom: 3px;
}

.linea_green {
  width: 30px;
  height: 3px;
  background-color: #1ED760;
  border-radius: 1px;
  opacity: 1;
}

.genre_list li.flex{
  flex-direction: column;
  align-items: center;
}

/* SECTION RECENTLY */
#recently .blocco_card {
  justify-content: space-around;
}

/* card */
.card {
  width: 15%;
  min-width: 90px;
  max-width: 220px;
  margin: 10px 1%;
}

.screen {
  position: relative;
}

.card .screen img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.screen_layover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.4;
  visibility: hidden;
}

.screen_play {
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 65px;
  visibility: hidden;
}

.card:hover .screen_layover,
.card:hover .screen_play {
  visibility: visible;
}

.card h3 {
  margin-top: 15px;
  margin-bottom: 10px;
}

.card a {
  opacity: 1;
}

.card a:hover {
  text-decoration: underline;
}

/* SECTION PERT_TE */
#per_te .blocco_card {
  justify-content: flex-start;
}

/* SECTION POPOLARI */
#popolari .blocco_card {
  justify-content: flex-start;
}

#popolari .screen img,
#popolari .screen_layover {
  border-radius: 50%;
}

/* PLAYER_BAR */
#player_bar {
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

/* descrizione */
.descrizione {
  justify-content: space-between;
  align-content: center;
  width: 22%;
  max-width:220px;
}

.little_screen {
  height: 60px;
  width: 60px;
  margin-right: 5px;
}

.descrizione .little_screen img {
  width: 100%;
  height: 100%;
}

.descrizione a {

}

.descrizione span {
  font-size: 10px;
  line-height: 13px;
  opacity: 1;
}

.brano {
  flex-direction: column;
  justify-content: center;
  opacity: 1;
}

.brano a:hover {
  text-decoration: underline;
}

.preferiti {
  align-items: center;
}

.preferiti span {
  font-size: 15px;
  margin-left: 10px;

}

/* player */
.player {
  flex-direction: column;
  align-items: center;
  width: 40%;
  max-width: 550px;
  min-width:
}

.comandi {
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin-bottom: 10px;
}

.comandi span {
  font-size: 14px;
  cursor: pointer;
  opacity: 1;
}

span.play {
  font-size: 25px;
}

span.play:hover {
   transform: scale(1.1);
 }

.avanzamento {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.avanzamento span {
  font-size: 10px;
  opacity: 1;
}

.avanzamento .barra_totale {
  position: relative;
  width: 80%;
  height: 3px;
  background-color: grey;
}

.barra_totale .barra_parziale {
  position: absolute;
  left: 0;
  width: 20%;
  height: 3px;
  background-color: white;
}

.barra_totale .pallino {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: white;
  visibility: hidden;
}

.barra_totale:hover .barra_parziale {
  background-color: #1ED760;
}

.barra_totale:hover .pallino {
  visibility: visible;
}

/* volume */
.volume {
  justify-content: space-between;
  align-items: center;
  width: 22%;
  max-width: 220px;
}

.volume span {
  font-size: 14px;
  margin-left: 10;
  cursor: pointer;
  opacity: 1;
}

.volume .barra_totale {
  position: relative;
  width: 60%;
  height: 3px;
  background-color: grey;
}

/* VERSIONE XS MOBILE */
@media all and (max-width: 552px) {

  /* NAV */
  #main_nav {
    display: none;
  }

  #nav_xs {
    display: flex;
  }

  #top_bar {
    display: none;
  }

  /* MAIN */
  main {
    top: 0;
    left: 50px;
  }

  .blocco_card {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    width: 45%;
    flex-grow: 1;
  }

  /* BAR_COMANDI */
  .little_screen {
    display: none;
  }

  .comandi {
    width: 100%;
  }

  .avanzamento .barra_totale {
    margin-left: 5px;
    margin-right: 5px;
  }

  .volume .barra_totale {
    width: 100%;
    margin-top: 10px;
  }
}

/* VERSIONE SM */
@media all and (min-width: 553px) and (max-width: 639px) {
  /* MAIN */
  #recently .blocco_card {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    width: 48%;
    min-width: 90px;
    max-width: 200px;
  }

  /* BAR_COMANDI */
  .avanzamento .barra_totale {
    margin-left: 5px;
    margin-right: 5px;
  }

  .volume {
    justify-content: space-around;
  }

  .volume .barra_totale {
    width: 100%;
    margin-top: 10px;
  }
}

/* VERSIONE TABLET */
@media all and (min-width: 640px) and (max-width: 878px) {
  /* MAIN */
  #recently .blocco_card {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .card {
    width: 23%;
    min-width: 90px;
    max-width: 200px;
  }
}
